.profileNav-container{
  display: flex;
  /* flex-direction:column; */
  width:100%;
  padding:30px
}
.profileDetails{
  flex:2
}
.profilePic{
  flex:1
}
.profileNav-container img{
  height:auto;
  width:30% ;
  border-radius: 50px;
}