.profileNav-container {
  display: flex;
  /* flex-direction:column; */
  gap: 10%;
  width: 100%;
  padding: 30px;
}
.followers{
  color:rgb(162, 67, 67)
}
.profileDetails {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profilePic {
  flex: 1;
}
.profileNav-container img {
  height: auto;
  width: 15%;
  border-radius: 50%;
}

.author{
  font-size:25px
}
