.loginPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-color: rgb(188, 191, 191); */
  z-index: -1;
  /* background-image: linear-gradient(45deg, #bf5763, #7462ff, #d0791c); */
  background-image: linear-gradient(45deg, #bf5763, #ff6272, #d0791c);
  /* filter: brightness(100%); */
  animation: color 12s ease-in-out infinite;
}

.loginPage div {
  text-align: center;
}

.googleauth a {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  font-size: 1em;
  font-weight: 500;
  background-color: aliceblue;
}

/* @keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
} */
