.loginPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color:rgb(188, 191, 191);
}

.loginPage div{
    text-align: center;
}

.googleauth a
{
    padding: 0.6em 1.2em;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border-color 0.25s;
    font-size: 1em;
    font-weight: 500;
    background-color: aliceblue;
}