.nav ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav{
    border: 1px solid black;
    padding:0px 50px;
}
.nav ul li input{
    width: 150%;
    height:30px;
}
.card-wrap {
    /* flex:1; */
    outline: 1px solid black;
    min-width: 10%;
    padding:20px;
    background-size: cover;
    /* filter: blur(1px); */
    }

.card-content {
    padding:15px;
    opacity: 0.8;
    border-radius: 8px;
    background-color: white;
    outline: 1px solid black;
    /* backdrop-filter: blur(1px); */
}

.description{
    overflow:hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.card-container{
    /* display:flex; */
    gap:60px;
    margin:30px;
    height: 100px;
    /* flex-wrap: wrap; */
    display: grid;
  grid-template-columns: auto auto auto;
}