/* * {
  border: 1px solid black;
} */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(188, 191, 191);
}
.login-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.jwt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.jwt input {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  font-size: 1em;
  font-weight: 500;
}
.google,
.jwt {
  padding: 20px;
}
